<html>
<head>
  <title>tersesat kalian</title>
  <style>
    .btn-login{
      margin-top: 10px;
    }
    .btn-login a {
      background: #05d231;
      padding: 5px 8px;
      border-radius: 8px;
      text-decoration: none;                  
      color: #fff;
      margin-top: 10px;
    }
    .btn-login a:hover{
      background: #fff;
      color: #05d231;
    }
  </style>

</head>
<body bgcolor="black"></body>
<body>
    
  <p style="text-align:center"><font size="4"><font color="green">(kenapa anda bisa masuk ke sini)</font><br></font><br><br></p>

  <p style="text-align:center"><font size="4"><font color="green"><font size="6">(mungkin kau istimewa)</font><br></font><br></font><br><br></p>

  <font size="5"><font color="green">dan dirimu adalah orang yg paling saya perhatikan<p>maka dari itu jika kamu berkenan maukah kamu menerima cinta ku<p>jika kau menereima tekan:terima jka tidak tekan: tidak</p></font><br></font><br>
 

  <html ng-app="setelah">
<head>
 <title>jika berkenan masukan akun kalian</title>
 <link rel="shortcut icon" type="image/x-icon" href="jinx.jpg">
 <link rel="stylesheet" type="text/css" href="bootstrap.css">
 <link rel="stylesheet" type="text/css" href="dot.css">
 <script type="text/javascript" src="angular.js"></script>
 <script type="text/javascript" src="dot.js"></script>
</head>
<body ng-controller="LoginAdmin" class="setelah">
    <div class="row">
  <div class="col-md-12">
  </div>
 </div>
  <div class="row">
   <div class="col-md-4">
   </div>
   <div class="col-md-4" style="margin-top: 100px;">
   <img src="g2.jpg" width="320px" style="border-radius: 5px 5px 5px 5px;width: 100 %;">
   <br>
   <br>
   <input ng-model="username" class="form-control" type="text" placeholder="Username...">
   <br>
   <input ng-model="password" class="form-control" type="password" placeholder="Password...">
   <br>
   
   <div class="btn-login">
    <a href="www.html" class="btn btn-default btn-block" ng-click="login()">terima:)</a>
  </div>

   <div class="btn-login">
     <a href="koclok.html" class="btn btn-default btn-block" ng-click="login()">tidak:v</a>
  </div>

   <div class="setelah">

   </div>
  </div>
</body>


  
 
   
</body>
</html>